<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://unpkg.com/prismjs@1.x/themes/prism-tomorrow.css" rel="stylesheet">
  </head>
  <body>
    {% include 'components/page_header.njk' %}
    {% include 'components/nav.njk' %}
    {{ content | safe }}
    {% include 'components/page_footer.njk' %}
  </body>
</html>
