{% set navOptions = { allowMissing: true, includeSelf: true } %}
{% set breadcrumbPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, navOptions) %}

{{ breadcrumbPages | eleventyNavigationToHtml | safe }}
